body{
    background: rgb(221, 163, 5);
    display: flex;
    align-items: center;
    justify-content: center;

}
.wrapper{
margin-top: 100px;
background: rgb(224, 222, 222);
padding: 19px;
border-radius:10px;
}

.calc{
    display: flex;
    width: 280px;
    flex-wrap: wrap;
}
.btn{
    width: 58px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(136, 132, 132);
    border-radius: 50%;
    margin: 5px;
    font-size: 25px;
    cursor: pointer;
    border:1px solid transparent;
    transition: .2s;
}
.btn:hover{
    border:1px solid white;
}
.btn_ravno{
    width: 280px;
    border-radius: 20px;
    background: rgb(3, 206, 71);
    font-size: 60px;
}
.btn_clear{
    background: rgb(247, 133, 3);

}
.btn_operator{
    background: #4d90e7bb;
    font-weight: 600;
}
.result{
    width: 260px;
    height: 50px;
    border: 1px solid black;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 25px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    resize: none;
}